<div class="container">
	<div mat-dialog-actions class="panel-footer m-0 pr-0" fxLayout="row" fxLayoutAlign="end center">
	
		<button *ngIf="showQuestion === false && showLoader === false" mat-raised-button color="primary"
			[disabled]="disabledButtonRegister" (click)="clickRegister()">
			Registrar
		</button>

		<!-- <ng-container *ngIf="showQuestion">
			<h2>¿Desea guardar los datos?</h2>
			<div class="container__actions">
				<button mat-button color="warn" (click)="clickCancel()">Cancelar</button>
				<button mat-flat-button color="primary" (click)="clickSave()">Guardar</button>
			</div>
		</ng-container> -->
		<igmh-custom-loader *ngIf="showLoader"></igmh-custom-loader>
	</div>
</div>